[2015-06-21 18:27] Rudd-O opened #4 "Exception when not all transactions have settleDate"
[user@machine ~]$ ledger-autosync
Caught exception processing Assets:(myaccount)Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/ledgerautosync/cli.py", line 55, in sync
    (ofx, txns) = sync.get_new_txns(acct, resync=resync, max_days=max_days)
  File "/usr/lib/python2.7/site-packages/ledgerautosync/sync.py", line 70, in get_new_txns
    new_txns = self.filter(ofx)
  Fi

[2015-06-21 18:31] Rudd-O commented on #4
Dump of one transaction.  Note that date, settleDate and tradeDate are not guaranteed to exist for all transactions during that codepath.

<InvestmentTransaction type=4, units=-19.0000>
       BuyMF 0
       BuyStock 3
       Reinvest 2
       SellMF 1
       SellStock 4
       Unknown -1
       __class__ <class 'ofxparse.ofxparse.InvestmentTransaction'>
       __delattr__ <method-wrapper '__delat

[2015-06-21 18:33] Rudd-O commented on #4
This code runs fine:

[code]

[2015-06-21 20:18] egh commented on #4
Thanks, that looks a lot like the change I made before. Maybe the best idiom is `getattr(txn, 'settleDate', None) != None`. Maybe we can replace every reference to `tradeDate` & `settleDate` with that.

[2015-06-22 05:07] Rudd-O commented on #4
Whatever works for you :-)

[2015-06-23 04:12] egh commented on #4
Should be fixed in https://github.com/egh/ledger-autosync/commit/fcb218fd85f31cc715c6062f977cf5b3822fa39a

[2015-06-23 04:12] egh commented on #4
Thanks for the report!

[2015-06-23 04:12] #4 closed

[2016-10-09 23:43] jblachly opened #7 "Dividend income not formatted correctly ($0)"
Briefly, ledger-autosync does not handle dividend income, at least from Fidelity, correctly. Instead of pulling from the "total" field, it treats all OFX investment transactions as buy/sell stock/mf and tries to use `qty commodity @ $price`, even though this is not appropriate for dividend income.

Before:
[code]

I did fix this and will issue a pull request shortly, but I do have a question (see

[2016-10-10 12:18] daniel-vainsencher opened #8 "When hledger not in path, get stack instead of error message."
The following is not easy to decipher:

Traceback (most recent call last):
  File "/usr/bin/hledger-autosync", line 11, in <module>
    load_entry_point('ledger-autosync==0.2.5', 'console_scripts', 'hledger-autosync')()
  File "/usr/lib/python2.7/site-packages/ledgerautosync/cli.py", line 199, in run
    import_csv(ledger, args)
  File "/usr/lib/python2.7/site-packages/ledgerautosync/cli.py", line

[2016-10-11 04:13] egh commented on #7
Thanks for taking the time to look into this @jblachly . I don't really have an opinion on which way to fix it - you could always do both, I suppose.

Do you know what kind of transactions these are? My accounts (which the OFX code is based on) are 401k accounts and all the dividends are reinvested, so that might be why the code behaves like that.

[2016-10-11 04:18] egh commented on #8
To be fair you are calling `hledger-autosync`, I believe? If you call `ledger-autosync` and there is no `ledger` or `hledger` in your path you get a better error message.

[2016-10-11 11:57] daniel-vainsencher commented on #8
You are right, I am calling hledger-autosync. Does it get less testing?

[2016-10-11 12:45] jblachly commented on #7
These are non-reinvested dividends in both taxable and tax-advantaged accounts. In Fido's OFX version 102, they are income transactions:

[code]

[2016-10-12 00:43] egh commented on #7
Ah, I see. That makes sense.

One other alternative (not necessarily a good one) would be to include a posting:

[code]

[2016-10-12 02:09] egh commented on #8
No, it's not so much that, it's that `hledger-autosync` is just an alias that bypasses the usual checks for which ledger version to use that `ledger-autosync` uses.

Still, it should give a better error message if `hledger` is not in the `PATH`. I'll fix it.

[2016-10-12 02:39] egh commented on #8
Fixed in https://github.com/egh/ledger-autosync/commit/9877a70d67de758aa0528588a5a1da2e7b857781. Thanks again!

[2016-10-12 21:12] daniel-vainsencher commented on #8
Thank you!

On Wed, Oct 12, 2016 at 5:39 AM, Erik Hetzner <notifications@github.com>
wrote:

[2016-10-13 03:30] #8 closed

[2016-10-17 02:01] jblachly opened #10 "some OFX providers give CUSIP instead of ticker symbol"
@egh , thanks again for ledger-autosync. Final barrier preventing me from integrating into my workflow is that Fidelity's OFX files give the CUSIP in `<SECID>`, rather than the ticker symbol.

I've written a class that will translate CUSIP->Ticker (if that information is supplied in the OFX file) for both InvestmentTransactions and position statements (misnomer, actually `P` commodity price lines)

[2016-10-18 02:43] jblachly commented on #10
On second thought I have refactored this as a static conversion in `cli.py` (instead of multiple point-of-use conversions in `converter.py`). Will try to create test with sanitized test OFX for this PR. Thanks for patience.

[2016-10-18 03:10] egh commented on #10
Thanks! I'll be interested to see what you come up with. To be totally honest I never noticed that there were `TICKER` entries in the OFX files that can be used. I've been suffering with the CUSIPs as commodities. Ticket symbols sound much nicer. :)

It shouldn't be too hard to get a new feature into ofxparse - they have been pretty good about merging my PRs.

[2016-10-19 00:44] jblachly commented on #10
FYI, in addition to ticker symbols, the security/mutual fund full name or description is also included, so you could also now add transaction metadata that includes this. I probably should have. It would require making the `security_list` globally accessible, or passing it to the member functions of OfxConverter, which I no longer do in the current implementation (which performs its work in `print

[2016-10-23 04:32] egh commented on #10
Thanks again. I really appreciate your fixing this!

[2016-10-23 04:32] #10 closed

[2016-10-26 07:44] daniel-vainsencher opened #13 "Very lossy OFX translation"
Maybe I'm doing something wrong. In a QFX file, the following OFX transaction:

[code]

is translated into the following hledger transaction:

[code]

I set the accounts using parameters, so ignore those. But the amount got changed from 1.45 to 0, and the fact that it is a dividend was lost. Note the transaction ID matches, so that is the same transaction.

Also, the end of the created hledger fil

[2016-10-27 01:31] egh commented on #13
Hi Daniel - I'm pretty sure this is the issue that was fixed in #9. I haven't released a new version yet, so you'd need to build from source to get the new version. But I'll release ASAP.

While you are here, would you mind asking a question? @jblachly has fixed ledger-autosync to output ticker symbols instead of CUSIP numbers, so in the future you will see `FOO` instead of `"921943858"` as the co

[2016-10-27 01:37] jblachly commented on #13
@daniel-vainsencher , @egh is right, commit associated w issue #9  should fix your problem with `0 "..number code.." @ $0` , and a pending commit will also replace the `78468R721` (or whatever) in the "P" lines, which are commodity price lines.

[2016-10-27 06:52] daniel-vainsencher commented on #13
@egh @jblachly Awesome! Yes, I'm currently working of releases, so I can't test right away, we'll see if you get to the release or I move to the dev version first.
To your question, re-exporting is not problem at all for me.

BTW, how about including the dividend indication? separate PR? I could do that if no one else is interested, but I won't get to it very soon.

[2016-10-28 01:17] egh commented on #13
@daniel-vainsencher In master, dividends should be supported. Your data should export as something like:

[code]

[2016-10-28 03:03] jblachly commented on #13
@daniel-vainsencher What do you mean by "the dividend indication"? Do you mean formatting correctly as in @egh 's comment -- if so, commit associated with #9 fixes that.

However, if you mean **titling the transaction** to something like "DIVIDEND RECEIVED", I see no field called `<MEMO>` in your OFX snippet. *The converter looks for this to title the transaction*.

You could add a check for this

[2016-10-28 06:07] daniel-vainsencher commented on #13
Was talking about getting the right accounts, as per @egh. Time to get
master...

On Oct 28, 2016 6:04 AM, "James S Blachly, MD" <notifications@github.com>
wrote:

[2016-10-28 16:02] egh commented on #13
I've just released 0.3.x (had a little trouble getting it to work right :) so you should be able to upgrade using pip.

[2016-11-05 18:57] bdrister opened #15 "Missing distutils dependence?"
After upgrading to 0.3.2, I'm getting this error:

[code]

72f9a18b05749f467b2fb1af684470c38cadfd69 seems relevant. Perhaps that introduced a new dependence that's not set up?

[2016-11-05 22:00] egh commented on #15
Interesting. What kind of machine are you on?

I've just pushed a fix for a (possibly related) issue with not requiring a recent setuptools (to fix an issue installing on trusty).

[2016-11-06 20:08] bdrister commented on #15
Ubuntu 16.04.1 LTS. It's a pretty minimal build that has literally only the bare required software to run this and some other related ledgery stuff, so things that might be coincidentally already set up in a config used for various other purposes might not be so lucky in this case.

[2016-11-06 23:26] bdrister opened #16 "Chokes on long payees"
[code]

I originally came to file this more urgently as it appeared that it was causing the program to immediately stop and only whatever partial output had been flushed at that point survived, but as I was doing a final repro on this I found myself unable to reproduce that part of it. Hmm. If I see that again, I'll let you know, but for now this seems to be simply a logged error that's not blocki

[2016-11-07 02:37] egh commented on #15
Ah, that seems to make sense. I reproduced in a vm and pushed a new version up to pypi that should fix the issue.

[2016-11-07 02:37] egh commented on #15
Thanks for the report!

[2016-11-08 04:54] egh commented on #16
Can you send me the payee that is a problem? It might be a quoting issue rather than a length issue. Thanks!

[2016-11-08 19:06] bdrister commented on #16
Anonymized to just indicate letters/numbers/other, they're of the form:

XXX XXXX XX 000000 XXXXXXXXXX:XXXXXXXX, XXX. XX/000000000000 XXXXXX XXXXXXX, XXXX XXXX 0 XXX XXXX XXXXX, 00XX XXXXX XXX XXXX XX 000000000 XXXXXXXX, X.X. XXX:000000000 XXXXXXXXXXX:XXXXXXXX XXXXXX XX/0000000000 000 XXXXX XXX XX X XXXXXXXXXX XX 000000000

[2016-11-08 19:08] bdrister commented on #16
Correction; I'd just grabbed a similar payee, but it seems like they're not all exactly identical. One grabbed directly from the error message is:

XXX XXXX XX 000000 XXXXXXXXXX:XXXXXXXX, XXX. XXXXXXXXX XXXXXX XX\/000000000000 XXXXXX XXXXXXX, XXXX XXX 0 XXX XXXX XXXXX, XXXXX 00 XXX XXXX XX 000000000 XXXXXXXX, X.X. XXX:000000000 XXXXXXXXXXX:XXXXXXXX XXXXXX XX\/0000000000 000 XXXXX XXX XX X XXXXXXXX

[2016-11-08 19:09] bdrister commented on #16
(That includes the escaping of the slashes, incidentally, since it's from the error message. The original payee doesn't have those."

[2016-11-08 20:08] bdrister opened #17 "code operator not followed by argument"
Another payee processing error.

`GOOGLE *PROJECT FI G.CO/PAYHELP#`
results in
`Error: code operator not followed by argument
ERROR:root:Error checking --real payee for GOOGLE \\*PROJECT FI G.CO\/PAYHELP#`

[2016-11-08 21:09] bdrister opened #18 "Handle $0 "extra comment" transactions"
Frequently, "extra comments" on a transaction will appear in the OFX stream as extra $0 transactions following the transaction to which they refer.

[code]

Most financial software handles this transparently, using the second "transaction" as a comment on the first one. The ledger transactions produced by ledger-autosync include them as-is, however.

I've attempted to implement this functionality

[2016-11-15 06:58] #15 closed

[2016-11-15 06:58] egh commented on #13
@daniel-vainsencher Has this been fixed? Thanks!

[2016-11-20 20:22] egh commented on #13
I'm going to close this, please feel free to reopen if it is still an issue.

[2016-11-20 20:22] #13 closed

[2016-11-27 20:55] pragmat1c opened #19 "Which version of Python, 2.X or 3.x?"
Hello,
Sorry but with the whole python 3 fiasco, it might be nice to have something in the readme that indicates which version of python to install.

Thanks!

[2016-11-28 03:25] egh commented on #19
Thanks, fixed! It's python 2.7 for now - last time I checked there was a problem with some required libraries.

[2016-11-28 03:25] #19 closed

[2016-11-28 03:27] egh commented on #17
Should be fixed now (in master, not yet released).

[2016-11-28 03:27] #17 closed

[2016-11-28 03:27] egh commented on #16
Thanks for this! Should be fixed now (in master, not yet released).

[2016-11-28 03:27] #16 closed

[2016-11-28 04:26] egh commented on #18
Do you think that it would be sufficient to filter all transactions with a `TRNAMT` = `-0`? That would be simple. A little more difficult would be filtering all transactions with `TRNAMT` = `-0` and a date equal to another transaction.

[2016-11-29 01:39] bdrister commented on #18
I've filtered them out on my end at the moment; that's straightforward. It's trying to actually maintain that extra data (merging the comment into the main transaction) that's not currently possible without reimplementing deduping.

[2016-11-29 04:23] egh commented on #18
Ah, I see. I think we can do that. But how do you think the extra data should be merged in? I can't find any examples of files like this except what you have provided. Should it be appended to the payee?

[2016-11-30 02:34] bdrister commented on #18
Interesting. I think at least two of my banks do this, so I'd assumed it was fairly commonplace.

I think the minimum necessary change here is deduping supporting multiple ofxid tags on a transaction, since that's necessary no matter who's doing the merging. (Hopefully that's just a current ledger-autosync limitation, and not a fundamental thing with the ledger format!) Once that exists, if ledger

[2016-11-30 05:25] egh commented on #18
I think it might be possible to work around the dedup issue by ignoring transactions that follow another transaction with the same timestamp and a `TRNAMT = 0`, if that is sufficient to identify the transaction as an "extra comment" transaction.

[2016-12-01 00:24] bdrister commented on #18
I don't have any 0-amount transactions that *aren't* this kind of comment, so this solution is functionally identical (for my particular data set) to the current situation of just discarding all 0-amount transactions on my end.

[2016-12-01 05:21] egh commented on #18
Great! I think this is possible. I'll look into it.

[2017-01-02 05:00] egh commented on #18
I have added some basic support for suppressing these transactions in https://github.com/egh/ledger-autosync/commit/d687e9c5787d5aaecb81fa445bd643add86ade93. It should be possible to something more sophisticated with them, but I'm not sure what. Because the process that converts from an OFX transaction to a ledger entry happens on a per-transaction basis, it would be a bit hard to merge the entrie

[2017-02-21 01:34] phil-mitchell opened #21 "Error when working with non-empty ledger file"
Using master, the following command:

ledger-autosync -l test.ledger

Where test.ledger contains any transactions, e.g.:

[code]

Yields the following error if there were downloaded transactions that need to be processed:

[code]

[2017-02-21 04:55] egh commented on #21
It looks like there is a problem with the ledger-python interface. ledger-autosync can interact with ledger, hledger, or the ledger python bindings. It will prefer python if available.

I myself don't often use the python bindings because I have found them to be buggy. I can reproduce this with my debian testing machine and will attempt to fix.

It will also add an option to disable using the pyth

[2017-02-22 00:57] phil-mitchell commented on #21
Thanks for the quick reply.  Removing ledger-python package resolves the issue for me.  Glad to hear you can reproduce locally.

[2017-02-22 04:35] egh commented on #21
I have fixed the python binding tests and disabled their use by default.

[2017-02-22 04:35] #21 closed

[2017-02-28 22:20] 501st-alpha1 opened #22 "Apply ofxid tags to posting scope instead of transaction scope"
A transaction output by `ledger-autosync` looks something like this:

[code]

Based on my understanding of the ledger file format, the above `ofxid` tag is scoped to the entire transaction, rather than just to the posting of `Assets:Checking`.  In this example it is still clear enough which posting it applies to, but I often have transactions that transfer money from one bank account to another, a

[2017-03-01 06:08] egh commented on #22
Here is what I do:
[code]

I think if I change this it should probably be an optional behavior. I'm not sure how the syncing code would work if I changed this, though.

[2017-04-25 17:02] paxperscientiam opened #23 "Tests fail"
Hi @egh !

I'm very keen on getting ledger-autosync working; however, I've run into some issues.

So, I decided to try out your tests. Unfortunately, they seem to be failing.

Would you mind helping me to decipher why this fails?

Thank you.

__EDIT__: To clarify, I am running MacOS Sierra.

__EDIT2__: OK, two issues. The test was choking on a wrapper I had written for ledger -- that one's on me.

[2017-04-25 17:35] paxperscientiam opened #24 ""ValueError: need more than 1 value to unpack""
Hello @egh

`ledger-autosync` is unfortunately not working for me.

Executing `ledger-autosync transactions.ofx` outputs:
[code]

Executing `ledger-autosync transactions.ofx -l ./journal.dat` outputs:
[code]

It also seems that `ledger-autosync` is not properly parsing `LEDGER_FILE`, though I am unsure.

Thanks for your attention.

[2017-04-26 02:28] egh commented on #23
There are a number of things going on here:
1. The `mock` library is required to run the tests.
2. If you do not have the ledger-python bindings installed, your tests may fail. You can try `nosetests -a generic -a ledger -a hledger` to run the generic, ledger, and hledger tests. nose doesn't seem to have a way to exclude a test group.
3. I just pushed a fix to the `.ledgerrc` parsing issue. 2d5f45

[2017-04-26 02:30] egh commented on #24
Thanks for the reports! I hope this is also fixed in 2d5f457. (fingers crossed). it seems to be an undocumented ledger feature to only parse arguments and not the ledgerrc file, so I hope that works for you.

[2017-04-26 14:37] paxperscientiam commented on #24
You're most welcome. Thanks for the fast reply.

This changed hasn't been "pushed" to pypi, has it? It doesn't seem so.

I'm actually a Python noob. How would I test this without the setup script attempting to install in the default python module directory?

[2017-04-26 14:42] egh commented on #24
No, sorry, it has just been pushed to the git repo.

If you have virtualenv installed:

[code]

That should do the trick.

If this fixes your issue I'll push a new pypi release - it seems like a bug other people are probably seeing.

[2017-04-26 17:08] paxperscientiam commented on #24
Thanks for the clear and concise instructions.

I got everything setup without a hitch. I did have to install `python-Levenshtein` to remove a complaint, but that's besides the point.

Oh, I also made sure that the HEAD pointed to `2d5f457`.

Still getting an error, I'm afraid:
[code]

[2017-04-26 17:44] egh commented on #24
Ah, interesting. I forgot I was parsing the `.ledgerrc` file. Can you post yours? I think the regex match is failing

[2017-04-26 22:16] paxperscientiam commented on #24
Hmm, it's actually completely commented out! I had done this after figuring that the "pedantic" setting was causing an error.

Results of `nosetests -a generic`:
[code]

Results of `nosetests -a ledger`:
[code]

[2017-04-27 05:09] egh commented on #24
Thanks for the very detailed reports.

1. `ledger-autosync` *should* prefer the `LEDGER_FILE` variable if available. It seems to work with ledger files with spaces in my tests. At least, running ` LEDGER_FILE=~/test\ file.lgr ledger-autosync ` in bash on linux works for me
2. `.ledgerrc` parsing is a little funky. I can't figure out how to even get ledger to handle files with spaces here. Ideally

[2017-04-27 05:12] egh commented on #24
Regarding "shouldn't ledger-autosync parse an OFX file regardless?": I think that ledger-autosync could do better here, but if there is no ledger file, that seems like an error. ledger won't work without a ledger file either. I guess we could pass in `-f /dev/null` or something, but we'd probably want to warn the user that the program was not actually syncing any transactions, just converting.

[2017-04-27 05:12] #23 closed

[2017-04-27 16:36] paxperscientiam commented on #24
I think that is a good idea. If we're just printing to stdout, then this is an effective way to communicate/preview what converted content looks like. It also indicates that there were no parsing errors.

Hm..this might be a good opportunity to learn some Python.

[2017-05-01 16:58] 501st-alpha1 commented on #22
Apologies for the delayed response; I read your message and didn't respond right away, then it fell off my radar.  :flushed:

To clarify, I don't mind combining the two transactions myself; I understand that it would be hard to correlate such transactions.  The purpose of this issue is only to request an adjustment to the position of the `ofxid` tag.  Going back to my first example:

[code]

`ofxi

[2017-05-01 22:27] 501st-alpha1 opened #25 "Unknown account guessing when payee has changed"
Currently `ledger-autosync` can guess the unknown account based on previous transactions with the same payee.  However, the payee output by `ledger-autosync` isn't usually in the format that I want for my ledger file, so I rewrite it as needed.  (Example: `ledger-autosync` gives `Debit Card Purchase - STARBUCKS` as the payee for one transaction.  I don't care about the first part, and the second p

[2017-05-02 02:34] egh commented on #25
Thanks for the feedback! Those both sound like good ideas. I'd also like to improve payee matching (e.g. http://tomszilagyi.github.io/payment-matching/) but I think giving the user an option to configure payee matching via some sort of configuration, ideally in the ledger file itself, would be very useful.

I'd worry about the second option creating some feature drift between support for ledger an

[2017-05-02 02:37] egh commented on #22
Ah, I get it! You're right, I've been doing it wrong the whole time. I'm pretty sure that I even have code to work around issues this caused. :cry:  I think I never quite wrapped my head around the idea that the metadata would come *after* the posting. That makes a lot more sense now.

I'll fix this ASAP!

[2017-05-05 17:25] 501st-alpha1 opened #26 "PayPal CSV import gives `Exception: Cannot determine CSV type`"
I tried to import a CSV file downloaded from my PayPal account (from [this page](https://www.paypal.com/cgi-bin/webscr?cmd=_history-download)), and I got this error:

[code]

I looked at the CSV file, and this is the first line:

[code]

which I notice is different from [this line in the codebase](https://github.com/egh/ledger-autosync/blob/master/ledgerautosync/converter.py#L422), so maybe PayPal

[2017-05-06 06:06] egh commented on #26
The `FIELDSET` is a subset of all the CSV lines. The theory was that there might be some change in the CSV format but we could still import as long as we had the necessary fields.

It's still working for me, though, when I download from that page.

My CSV has the header:
[code]

which is slightly different from yours. It seems that paypal will only export a subset of all possible columns, which se

[2017-05-06 18:47] egh commented on #22
@501st-alpha1 I have filed a PR #27 for this issue which includes a script to fix existing files.

[2017-05-07 21:50] 501st-alpha1 commented on #26
The line I provided above was the complete first line.  Did you mean you'd like a line of data too?

I noticed in the linked PDF on page 53 there is a screenshot showing a link `Customize Download Fields`.  I don't see that link on that page when logged in to my PayPal account, all I see is `Downloadable History Log Updates`.

[2017-05-20 19:12] egh commented on #24
I have addressed this issue in 80c3eced14379b0f251c5e6efda148f6cc0cc34d

[2017-05-20 19:13] #24 closed

[2017-05-25 01:25] paxperscientiam commented on #24
@egh Hey, so I checked out `80c3ece`, but I'm unfortunately still seeing errors. I'm actually still seeing the error regarding missing journal. I used interpreter version 2.7.

Am I missing something?

[code]

[2017-05-25 04:31] egh commented on #24
@paxperscientiam Sorry - I added a new option to prevent loading a ledger file, but I didn't fix the behavior when no ledger file could be found. Should be fixed in a3e4274

[2017-05-25 17:31] paxperscientiam commented on #24
@egh nicely done! Do you this version will hit pypi? Any other testing I could help with?

[code]

[2017-05-26 02:47] egh commented on #24
@paxperscientiam I just released 0.3.5.

[2017-05-26 02:47] egh commented on #24
@paxperscientiam Thanks for testing! I appreciate it.

[2017-05-30 19:14] paxperscientiam opened #28 "Improper parsing of memo and payee"
Hello!

In the QFX format, I believe `<name>` corresponds to "payee".

Here is an example real world transaction:
[code]

ledger-autosync produces this:
[code]

Now, it seems to me that ledger-autosync ought to end up with 'WILLISTON LIQUIDATI WILLISTON VT' as the payee as opposed to  'WILLISTON LIQUIDATI WILLISTON VT Debit Card W/D: Debit Card'.

What do you think @egh ?

[2017-05-31 03:35] egh commented on #28
The code for this is a little fragile. I've done what I could given the sampling of OFX files I had. They all seem to use `name` and `memo` differently. The code is here: https://github.com/egh/ledger-autosync/blob/master/ledgerautosync/converter.py#L219

See http://help.infinitekind.com/discussions/suggestions/1291-support-brain-damaged-ofx-usage-of-name-and-memo

That said, I'd be willing to con

[2017-06-04 03:31] paxperscientiam commented on #28
One thought that came to mind recently was the possibility of employing optional directives.

While the default behavior would be to assume proper implementation of the OFX standard with whatever best guess magic you've already employed, directives could be employed on a per institution basis.

Beyond that, I haven't quite fleshed the idea out. Unfortunately, this sort of bandaid is needed until t

[2017-06-04 15:18] egh commented on #28
Some sort of configuration system could certainly help to sort this out.

[2017-06-11 01:24] paxperscientiam commented on #28
I noticed that, for one of my banks, QFX and OFX files contain some information not found in the other. Like, the institution is denoted in the OFX file but not the QFX. Silly.

~~With regard to this, could ledger-autosync -- instead of dying -- prompt for a custom institution name? Or, better yet, make a suggestion from list of institutions from ledger files?~~

Going to open a new issue for the

[2017-06-11 01:28] paxperscientiam opened #29 "Prompt from list of known accounts?"
Shalom

Could ledger-autosync -- instead of dying -- prompt for a custom institution name? Or, better yet, make a suggestion from list of institutions from ledger files?

It seems that ledger-autosync follows includes -- is that accurate?

This should be implemented as an option. That is, if the end-user triggers the missing institution exception, they could then choose to execute ledger-autosync

[2017-06-11 01:38] paxperscientiam opened #30 "Intelligent append?"
Hello,

So, ledger-autosync can crosscheck journal files with OFX/QFX to prevent generating output for transactions that already exist in said journal files.

Can not this be further leveraged to add transactions to an existent journal file?

Currently, one can do something like this:
[code]

The problem with this is that there is no accounting for whether or not the transactions written into this

[2017-06-11 03:54] egh commented on #30
You can do the following:
[code]

At least, that works for me.

[2017-06-11 03:58] egh commented on #29
You can specify the name using `-a Assets:Bank` but I admit that is not the best interface. However I have not added any interactive behavior and I believe that would complicate the ledger-autosync user interface to some extent. Another option would be allowing the `ofxclient.ini` file to specify the account name when importing from an ofx file (rather than using the ofx protocol.

[2017-06-14 05:10] androclus opened #31 "TypeError: argument of type 'int' is not iterable on ofxclient setup"
Hi, I don't know if this is reproduceable or not, but when setting up ofxclient, I seemed to have an error. That will be shown below. However, it apparently did not stop the setup from creating the correct ~/ofxclient.ini file.  So it must have been some kind of warning. I am willing to try to remove my ofxclient.ini and try to reproduce it if you like.

I am on debian jessie 8.8.0 with all latest

[2017-06-14 05:22] androclus commented on #31
BTW, I just realized that it may not be appropriate to post this here, as ofxclient probably just got installed via pip as a dependency, yes?

So I posted the same info over at [an issue on the ofxclient project](https://github.com/captin411/ofxclient/issues/21), and feel free to delete here if you like.

[2017-06-15 04:14] egh commented on #31
Thanks! But you are correct, that is not my code and the right place to post it is on ofxclient.

[2017-06-15 04:14] #31 closed

[2017-06-15 04:14] #22 closed

[2017-06-20 02:59] egh commented on #26
@501st-alpha1 Sorry this dropped off my radar. Yes, if you could provide a sample of the kind of data you have and an idea of what kind of ledger posting you would expect from that data, that would be helpful.

[2017-06-20 03:00] egh commented on #18
@bdrister I'm going to close this issue for now. Let me know if there is anything else I can help with for this.

[2017-06-20 03:00] #18 closed

[2017-06-20 03:51] egh commented on #28
In https://github.com/egh/ledger-autosync/commit/b41044baaaaa7c8315ff99335d78b5867a21b3b8 I have allowed setting a custom `payee-format` on the command line.

[2017-06-20 03:51] #28 closed

[2017-06-20 22:03] 501st-alpha1 commented on #26
@egh No problem.

Here are the complete (but anonymized) first 3 lines of one of my downloaded CSV files:

[code]

Those two transactions were created by sending a user $12.34 from the PayPal UI, using a bank account.  I'd expect `ledger-autosync` to output something like this:

[code]

[2017-06-21 04:15] egh commented on #26
@501st-alpha1 Thanks for the sample! I'll see what I can do.

[2017-06-27 20:23] rnapier opened #32 "Only reads one account from OFX file"
If I download an OFX file with several accounts in it, ledger-autosync only seems to import one of the accounts. If I let ledger-autosync manage the downloading, then it seems to get all the accounts.

My real goal is to modify the OFX file before letting ledger-autosync work on it. I want to clean up various known problems, like rewriting some of the memo and name fields so that transaction match

[2017-06-28 00:21] rnapier opened #33 "Sync does not track splits"
When a previous transaction was split into multiple accounts (paycheck is a good example), the system seems to match the payee and assign it all to the last entry, even if the values are identical. It should bring forward the split if it can match the amount, and leave it in default if it cannot.

[2017-06-28 18:52] rnapier opened #34 "PayPal CSV importer fails on thousands-grouping"
PayPal bizarrely encodes its amounts as strings, and unfortunately includes comma separators. Removing the commas in `PaypalConverter` isn't hard, but it's not clear how this will behave for European users and whether the locale is required. (This impacts hledger, but may not impact ledger.)

Related: Is there a way to override the PayPalConverter? I don't like how it writes the payee name and mk_

[2017-06-28 19:17] rnapier commented on #34
This is my current version of the converter

[code]

[2017-06-29 06:24] egh commented on #34
I'll be gone this weekend, but I can look into seeing if there is a way to fix this issue after then.
In the meantime, you might be interested in: https://github.com/egh/ledger-autosync#plugin-support-experimental

[2017-07-06 05:51] egh commented on #34
Do you have a sample of what your paypal CSV looks like (with personal data removed, of course)?

[2017-07-06 15:36] rnapier commented on #34
Here is an example file. I have removed the email addresses, other party's name, and comments, but I have left all the amounts and transaction IDs so you can see how they work (I've checked that transaction IDs are not sensitive). This file is nice because it happens to contain a lot of complex things: payment requests, recurring payments, both sending and receiving funds, and currency conversion.

[2017-07-07 02:13] egh commented on #34
@rnapier Thanks! I think I am going to assume, since I can't find this documented in paypals docs, that `,` is always a thousands separator and simply remove it.

[2017-07-10 05:00] egh commented on #34
@rnapier I have just pushed to master support for a `--payee-format` option that gives you more control of the format of the payee line as well as a fix for the comma thousands separator. I am also going to look into improving the paypal converter along the lines you have indicated, but I am actually not all the familiar with Paypal reports, so I want to make sure I don't break any existing behavi

[2017-07-10 05:01] egh commented on #34
https://github.com/egh/ledger-autosync#payee-format

[2017-07-12 04:35] egh commented on #33
@rnapier I'm sorry, I don't entirely understand the issue. Could you provide a sample ledger file and the behavior you would expect to see? I know that the existing account matching is not very good, but I'm not sure what you are looking for.

[2017-07-12 04:36] egh commented on #32
I didn't know you could have an OFX file with multiple accounts. Do you think you could provide a sample? I know it's hard to anonymize the data, but it would be very helpful. Thanks.

[2017-07-12 04:39] egh commented on #30
Does that work for you?

[2017-07-21 01:04] paxperscientiam commented on #34
@egh Working for me. Will test more. Also, I'll try to respond to the other thread today.

[2017-07-21 04:55] egh commented on #34
Thanks!

[2017-07-21 04:55] #34 closed

[2017-07-22 00:11] paxperscientiam commented on #34
@egh

Is there support for setting up custom payee rules in a config file?

[2017-07-22 02:57] egh commented on #34
No, I haven't added config file support (yet) except for that provided by https://github.com/captin411/ofxclient

[2017-07-22 03:55] paxperscientiam commented on #30
Short answer: yes.

Long answer:
So, it has since become clear to me that "includes" are parsed by ledger-autosync as well. This, renders the issue of adding the same transactions multiple times moot. This, though, assumes that stdout is redirected to a file that is already included -- `include path/to/child.ledger` -- in the main ledger file.

For example:
* Create two ledger files -- `main.ledge

[2017-07-22 05:14] egh commented on #30
@paxperscientiam I'm actually a little confused about what you want to do.

ledger-autosync relies on ledger/hledger to find the old transactions. It basically just runs `ledger` with the right search query to find the old transactions. So it will process any includes, etc. that ledger will.

If you are running ledger-autosync against a local OFX or CSV file, ledger-autosync does assume that trans

[2017-07-23 01:22] paxperscientiam commented on #30
Hi @egh,

I think I was operating on misunderstandings; I take full responsibility for the confusion :)

Thank you for clarifying how ledger and ledger-autosync interface. It helps a lot.

See you at the next issue!

[2017-07-23 01:22] #30 closed

[2017-07-23 02:57] egh commented on #30
Great, thank you!

[2017-07-28 15:36] 257 commented on #32
[tangerine Canada](https://gist.github.com/64daae7f2b6ef9a84fae762cca123543)

[2017-07-28 15:42] 257 opened #37 "use Categories for structuring expenses"
something akin to Assets:{%category}
example ofx response with category: [tangerine Canada OFX respond](https://gist.github.com/64daae7f2b6ef9a84fae762cca123543)

[2017-07-29 15:43] egh commented on #32
@257 Thank you for the sample file!

[2017-07-29 15:45] egh commented on #37
It doesn't look like "category" is very cleanly marked up, it's just a string inside the `memo` field. I believe that better account matching could improve this (right now there is fuzzy matching based on the payee, but it could be improved)

[2017-08-24 21:33] 501st-alpha1 opened #38 "Add Coinbase CSV importer"
I'd like to request the ability to import my Coinbase history using `ledger-autosync`.  You can download your Coinbase history as a CSV file [here](https://www.coinbase.com/reports).

What follows is a description of the format of the CSV.

At the top is an extra header section that looks like this:

[code]

The email address is the one tied to your Coinbase user, and the last line represents whic

[2017-08-27 02:26] egh commented on #38
@501st-alpha1 Thanks for the detailed description. This looks easy enough to support. I'll see what I can do.

[2017-08-30 05:04] 501st-alpha1 opened #39 "ledger-autosync doesn't detect error response"
I ran `ledger-autosync` just now, and it returned with no output, even though earlier it had given me a list of transactions and I hadn't added all of them to my ledgerfile yet.  I enabled debug logging to troubleshoot the issue, and found this:

[code]

This happens several times until the max days is reached.

It appears that `ledger-autosync` is not catching an error condition reported by the s

[2017-09-05 18:54] 501st-alpha1 opened #40 "Add argument to set timezone offset"
I have noticed for a while that the transaction dates produced by `ledger-autosync` are occasionally off by one as compared to what is shown online or in my bank statements.

At the top of an OFX file I downloaded at 10:30 this morning, I found this:

[code]

Since I am currently in the PDT zone, I believe this means that the downloaded transaction files are always given in UTC (at least for this

[2018-01-05 00:06] 501st-alpha1 commented on #26
FYI, I noticed that PayPal recently launched a [new activity downloader here](https://business.paypal.com/merchantdata/consumerHome), but the file generated is in the same format for me, so I'm still getting this error.

[2018-01-05 04:26] egh commented on #26
@501st-alpha1 I have just pushed up a converter for this alternate (?) paypal CSV format. Also I fixed an issue with the byte order mark which has started to appear in my CSV downloads from paypal.

[2018-01-05 18:50] 501st-alpha1 commented on #26
Oops, in my last comment I was mistaken; the new file I downloaded additionally has the `Currency` field, though the value is only ever `USD` for me.

I got the same error again when I tried to sync the new file.  If my file just has an extra column, it should still work, right?  A possible cause for the error is that the new file has the header cells double-quoted, while the old one does not.

Ol

[2018-01-05 18:59] 501st-alpha1 opened #42 "(Alternate) PayPal converter uses reverse-chronological order"
The transactions in my downloaded PayPal transaction CSV files are listed in reverse-chronological order, with the newest first.  It appears that `ledger-autosync` processes the transactions one at a time and doesn't adjust the order, because it also prints the newest transaction first.  (Due to #26, I don't know if this affects either the original converter or the original file format.)

Since le

[2018-01-06 19:02] egh commented on #26
I believe this was a problem with the space in `Time Zone` and I have corrected the issue.

I am beginning to see the similarities between these 2 paypal formats, but they sure are pretty different on the service.

[2018-01-06 19:09] egh commented on #42
Interesting, mine are in chronological order. I've added a `--reverse` option to print CSV transactions in reverse in https://github.com/egh/ledger-autosync/commit/19a0f9f44d1ee651df077e56d533f36b97351213

[2018-01-06 19:10] egh commented on #42
Probably a better solution would be to sort by date, but I'd rather avoid date sorting - it's hard to get right, and I don't really want to mess up the order in the CSV unless I have to

[2018-01-06 19:22] egh commented on #39
Thanks for the report! I figured out how to get this back from the parsed OFX file. It should now throw an exception (see https://github.com/egh/ledger-autosync/commit/7357c76a8a2f625328ab2e8f5e686d93b139dd25)

[2018-01-06 19:22] #39 closed

[2018-01-06 19:22] #42 closed

[2018-01-07 02:01] 501st-alpha1 commented on #26
Good catch, I missed that one too.  This is now working for me, thanks!

[2018-01-07 02:01] #26 closed

[2018-01-07 18:20] #29 closed

[2018-01-07 18:20] #33 closed

[2018-02-15 00:28] emilecantin opened #43 "Text encoding issues"
My bank gives me OFX / QFX files encoded as `latin1`, with the following lines in the header:
[code]

When I try to use them, I get the following error:
[code]

I managed to make it work by changing `CHARSET` to `819`, and transactions print fine to STDOUT, but whenever I try to output it in a file (e.g `ledger-autosync --account Assets:Checking releve.qfx >> main.ledger`), I get the following err

[2018-02-25 00:56] jpeterson1 commented on #32
I just ran into this issue as well. It looks like my bank (USAA) does the same thing (multiple accounts in a single file).

[2018-03-10 02:59] tesujimath opened #45 "FirstDirect CSV import"
I'd like to contribute a PR to support import for FirstDirect CSV files.  FirstDirect is a UK bank, and their file format is ludicrously simplistic.

Here's an example:
[code]

The amounts are all GBP, but nothing in the file tells you that.  So I'm thinking we would need a new CLI option for default currency.

The field names are rather generic, but sufficiently different from the existing CSV co

[2018-04-07 17:23] 501st-alpha1 opened #46 "(Alternate) PayPal converter currency equivalency"
When I use `ledger-autosync` on my most recent PayPal CSV export, the output doesn't use the currency that I want it to.

For an input line of:

[code]

I get this output:

[code]

The `USD` is pulled directly from the CSV file, but I want it to display as e.g. `$10.00` instead.  I couldn't find anything built-in to Ledger to handle this; it appears the `alias` directive only applies to accounts a

[2018-05-12 16:29] tbm opened #48 "CHANGELOG.md is out of date"
CHANGELOG.md lists 0.3.0 but GitHub has 0.3.5.  It would be good to either update or delete the changelog.

[2018-05-12 16:30] tbm opened #49 "Python 3 support"
I noticed ledger-autosync doesn't work with Python 3.  Since Python 2 will be EOL in 2020, any plans to support Python 3?

[2018-05-12 18:37] egh commented on #49
Absolutely! It's at the top of my todo list for ledger-autosync. The last time I checked (a few years ago) some of the ofx* libraries did not support python 3, but as far as I know everything does now.

[2018-05-13 19:15] egh commented on #48
Thanks for the heads up! I have updated the CHANGELOG.

[2018-05-13 19:15] #48 closed

[2018-05-13 19:45] egh commented on #49
Python 3 tests are passing in https://github.com/egh/ledger-autosync/tree/python3

I'm going to use this for myself for a little while before merging into master, but everything looks good from here.

[2018-05-14 11:02] tbm commented on #49
That was fast, thank you!

[2018-05-31 05:17] #49 closed

[2018-05-31 05:19] egh commented on #43
Hi @emilecantin, sorry I didn't respond earlier. It's possible that the recent upgrade to python3 might help with this, or an update to ofxparse (the library we use to parse ofx files). It's unlikely this is a problem with ledger-autosync itself. However if you can provide a sanitized ofx file that triggers this error I can look into the issue.

Thank you for the report!

[2018-06-10 03:45] colindean commented on #32
I'm hitting this, too. Vanguard allows mixing of accounts in exported qfx file. ledger-autosync only extracts the first one.

[2018-06-10 03:49] colindean opened #52 "Set currency for import"
I've got a QFX file from Vanguard. It's denoted in USD, but ledger-autosync outputs transactions with a `$` for USD amounts. I'd prefer if I could have it output USD to conform to the rest of my records. I don't see a way to do that presently.

[2018-06-10 11:32] DamienCassou opened #53 "Time for a new release"
Apparently, latest release is compatible with Python 2 only even though master is compatible with Python 3. Is it time for a new release?

[2018-06-10 17:36] egh commented on #53
Yes, it is, although I was hoping to get a little more testing of the python 3 version (it was only merged a few weeks ago).

[2018-06-10 17:59] egh commented on #52
Seems like a good idea. I prefer `$`but I guess that is a personal choice :)

[2018-06-10 21:40] colindean commented on #52
Adding a commodity directive worked for me:

[code]

This was previously undocumented because now been added to to the ledger documentation as of last night.

[2018-06-11 06:55] 501st-alpha1 commented on #52
Do you mean that ledger-autosync now outputs transactions with `USD` instead of `$`?  I was trying to do the inverse in #46, but it didn't work for me when importing a CSV file.

[2018-06-12 03:14] colindean commented on #52
No, setting that directive makes USD and `$` show up as USD in reports.

[2018-06-16 20:17] NicolasPetton commented on #43
I can confirm the issue with the latest release.

Try to put any non-ascii character in a transaction text to reproduce the issue.

[2018-07-31 06:09] DamienCassou opened #54 "Don't access keyring when not needed"
When using ledger-autosync to read an existing ofx file, I don't expect ledger-autosync to access my keyring and ask me to unlock it. This annoys me because I don't use Gnome keyring and I don't want any application to use it and ask me to unlock it.

[2018-07-31 08:56] DamienCassou opened #55 "Time for new release?"
Hi,

the latest release is more than one year old and uses Python 2 syntax. What about releasing a new version?

[2018-08-01 04:05] egh commented on #55
I just uploaded 1.0.0 to pypi. Thanks for the prompting!

[2018-08-01 04:05] #55 closed

[2018-08-01 04:05] #53 closed

[2018-08-01 04:13] egh commented on #54
Thanks for the report! I haven't been using gnome keyring with ledger-autosync so I haven't seen this. Did you need to configure it explicitly, or was it configured when you ran ofxclient?

[2018-08-01 05:47] DamienCassou commented on #55
Thank you for the release. I just noticed I created 2 issues with the same content :-(. That was a mistake.

[2018-08-01 05:48] DamienCassou commented on #54
I haven't configured anything.

I don't use ofxclient. I get my ofx files through [boobank](http://weboob.org/applications/boobank).

[2018-08-01 14:50] egh commented on #54
Great, I'll try to replicate this behavior locally.

(As an aside, I didn't know boobank could fetch OFX files. I'll have to check it out.)

[2018-08-07 10:20] DamienCassou opened #56 "Use correct account"
The way ledger-autosync decides which account to use doesn't suit my needs. This is because of automated transactions.

Here is my ledger file (also available as attachement):

[code]

If you import an ofx file referencing "Some guy", you will get:

[code]

Here, I don't want `[Assets:Budget:Unbudgeted]` (which is an implementation detail) but `Expenses:Something` (which is what I already wrote in

[2018-08-07 10:41] DamienCassou commented on #56
Currently the matching accounts are found by asking ledger for all accounts in relation with a payee. This is a problem because ledger returns automatic postings (those that are not in the ledger file). Because ledger-autosync output is supposed to be written in the ledger file, I expect it to ignore postings that are not already written in the ledger file.

One way to solve this issue would be to

[2018-08-07 10:57] DamienCassou commented on #56
Current workaround

[code]

[2018-08-07 16:44] 501st-alpha1 commented on #56
I run into this same issue occasionally.  (Due to #25 it's not very often, but once that is fixed I will probably see it more.)

This could be fixed by adding the `--actual` flag to the command that looks up these accounts.  From [the docs](https://www.ledger-cli.org/3.0/doc/ledger3.html#Report-filtering):

[code]

[2018-08-23 05:43] tesujimath commented on #45
I finally got round to doing this, and by the time I did, I see ledger-autosync had grown a really neat plugin facility.  So I have a plugin, which will be useful to anyone else who banks with First Direct in the UK.

I don't think it's worth including such things in the Python distribution, and it would annoy people who get a false positive on the heading field matches (quite likely I think), but

[2018-08-23 14:10] egh commented on #45
@tesujimath I think an example plugins directory would be really helpful. I'm not that concerned about false positives, but I suppose they certainly are a possibility.

[2018-08-24 02:16] #45 closed

[2018-10-18 09:59] DamienCassou opened #59 "Wrong date of initial balance"
When passing `--initial`, I expect an initial balance transaction whose date is the date of the first transaction. Currently, the date is the one of yesterday.

[2018-10-18 14:08] egh commented on #59
I haven't used this feature in a long time. To be honest I'm not sure it does what it says it does, from looking at the source now. I believe that, as implemented, it will print the start date of the statement and the current balance at the end of the statement, which is not correct. I'll look into it more.

[2018-12-24 08:17] 501st-alpha1 commented on #25
@egh Would you be open to a PR implementing the `AutosyncPayee` tag mapping?

The post you linked to looks interesting too, but I think that would be mostly separate from the issue I'm having, since the author uses the original payee in their ledger file (and possibly appends something to it).

[2018-12-31 18:49] egh commented on #25
@501st-alpha1 Sure! Thank you.

[2019-01-05 11:55] eamsden opened #60 "GPL or LGPL?"
The `LICENSE` file and the `license` field of `setup.py`
https://github.com/egh/ledger-autosync/blob/d2c0e403b5a5cc8f312a0401210124eaf40a887b/setup.py#L21
both specify the license as GPLv3, however the license field of classifiers specifies the LGPLv3: https://github.com/egh/ledger-autosync/blob/6923f26c7cfec5070b3ef16fdf949cba5616a78b/setup.py#L26.

A minor issue, but an issue for those of us try

[2019-01-05 17:42] egh commented on #60
@eamsden Sorry, that was a copy-paste error which I have fixed. The license is GPLv3 or later.  Thank you for packaging!!

[2019-01-05 17:47] #60 closed

[2019-02-04 23:53] fabrepe commented on #32
I also hit the issue. This is because OfxParser expose account and accounts attributes, where the account attribute is equal to accounts[0]. However ledger-autosync use ofxparser.account and not ofxparser.accounts.

[2019-02-04 23:58] egh commented on #32
@fabrepe Interesting! Thanks. I'll look into `accounts`

[2019-02-05 00:03] fabrepe commented on #32
Wow, what a quick reply 👍 @egh Thank your very much

I think we should loop over the ofxparser.accounts list in the cli.import_ofx function.
Nonethless defaults details for each accounts may be tricky to set. For example, the default accountname (UNKNOWN_BANK_ACCOUNT) have to be different for each bank account.

[2019-02-27 08:14] gepandz commented on #32
Same issue with the same bank. USAA FSB doesn't give you an option to download just one account -- you just download either your bank or your investment accounts, so it's not easy to get around without hand-editing the QFX or OFX files... Thanks!

[2019-02-27 20:05] gepandz commented on #32
Looking at the ofx object returned by OfxParser, there's an `accounts` array, while the account object just points to the first element of that array. I simply wrapped `for acct in ofx.accounts:` around my transaction-read loop logic, and that pulled in all of my accounts in the OFX or QFX files I got from my bank. I haven't dug through your code, yet, but it should be fairly straightforward to lo

[2019-02-28 04:30] egh commented on #32
@gepandz A pull request would definitely be welcome, thank you!

[2019-03-01 10:51] fabrepe commented on #32
My bad, this pull request will certainly break the cli.sync function. As the print_results function is also called by the sync function.

I cannot test the sync, but I will do another pull request with a fix. Sorry for the inconvenience.

[2019-03-27 23:23] chemtov opened #69 "Credit card with deferred payment are not using effective date."
Hi,

When using a credit card with deferred payment, the effective date mechanism is not used.

That means that a payment that I did, for instance, on the 31th of march is appears as done on the 4th of april when the bank actual withdraw the money from the account.

This is related jseutter/ofxparse#150 as ofxparse doesn't make that value available.

Example of such ofx transaction:

[code]

this

[2019-03-29 20:17] #25 closed

[2019-05-15 21:45] 501st-alpha1 opened #71 "QFX (~= OFX) files with no NAME/payee field"
My bank recently dropped support for plain OFX files for transaction downloads.  Thankfully, they offer files in the QFX format ("for Quicken"), which appear to be an XML-compliant version of the OFX standard.  However, they've made some changes in how they format the data in the files.

Here is an example transaction (whitespace for readability, original file is entirely on one line):

[code]

Yo

[2019-05-18 05:16] egh commented on #71
In my experience payee/name and memo seem completely interchangeable in real world OFX files. It doesn't seem unreasonable to copy one to the other, although the default formatter is `{payee} {memo}` so that would be weird. Also it kind of messes with expectations of how the payee format would work. (I realize now that I probably should have called `{payee}` `{name}` instead as that is what it is

[2019-06-01 18:47] gnoutchd opened #72 "Crash when (hledger) journal is empty"
hledger 1.10, ledger-autosync 7a303f3a. With `$LEDGER_FILE` pointing to a zero-length file, `ledger-autosync some-ofx-from-discovercard.ofx` gets me:

[code]

Adding a transaction to `$LEDGER_FILE` fixes it.

This patch also fixes it:

[code]

(I think `DictReader` already consumes the headers?)

[2019-06-01 19:13] egh commented on #72
Makes sense to me, see #73

[2019-06-01 19:44] #72 closed

[2019-06-14 10:25] chaserhkj opened #74 "Payee auto renaming"
Hi there,

Is it possible to implement custom regex-based payee auto renaming before using the payee names to guess the account names? This is because some of my transactions fetched through OFX from Chase actually have a unique number attaches to the payee line and this makes the account name guessing unusable. If I could unify these by regex-replacing the payee lines first before doing the guess

[2019-06-15 04:20] egh commented on #74
There used to be some fuzzy matching for payees that might have helped, but it wasn't being used properly as far as I know. It might be possible to implement something regex based - I don't use the payee matching myself, so I'm not sure.

[2019-06-17 12:42] qypea opened #76 "How to contribute patches"
What is the proper way to contribute patches to this project? A `CONTRIBUTING` file or section in the Readme would help new people jump in quicker, with less concern that they're stepping on someone else's work

[2019-06-17 12:59] hollyhudson commented on #74
There doesn't seem to be *any* matching of payees, unless I'm missing something?  None of mine are being matched, they're all getting Expenses:Misc.  I'd love a fix for this since this project is top-notch at downloading and processing the ofx file (seriously, excellent job!), but if the payees aren't matched it's not really usable for me due to the volume of transactions I'm dealing with, hand-ed

[2019-06-17 13:38] hollyhudson opened #78 "Doesn't strip the BOM from paypal csv downloads"
I'm seeing this in both the pip-downloaded version and when I install from a clone of the github repo.  Here's what the error looks like:

[code]

And here's what a friend added to my Makefile to fix it:

[code]

(Sorry, that's a bit messy, the extra stuff is in there for completion, so there's context if anyone wants to duplicate it.)  The sed statement is the important part -- it searches for th

[2019-06-18 04:23] egh commented on #76
What do you have in mind? In general I am open to pull requests and don't have much of an idea of, e.g. further direction in ledger-autosync. But I'd be happy to just add a `CONTRIBUTING` file that said that.

[2019-06-18 04:50] egh commented on #78
Thanks for this! It's supposed to strip the BOM, see https://github.com/egh/ledger-autosync/blob/master/ledgerautosync/sync.py#L186. Maybe the BOM is appearing somewhere besides the absolute beginning of the file, or perhaps my code is wrong? Can you send me a 2 line paypal.csv with the data anonymized so I can replicate? Thanks.

[2019-06-18 04:52] egh commented on #74
Thanks! I'm glad it's working well for you :) I realized I've never describe the payee matching that does happen, so I added some documentation to the README here: https://github.com/egh/ledger-autosync#payee-matching. I think payee matching is the weakest part of ledger-autosync, but I'm not sure where to go next with it.

[2019-06-18 12:12] qypea commented on #76
A `CONTRIBUTING` file stating you were open to pull requests for bug fixes and enhancements would go a long way to help new people jump in quicker. Might be good to write down any kinds of pull requests you are not open to as well(Large refactorings, rename all X to Y, etc)

[2019-06-18 12:24] qypea commented on #74
Something I've done in my custom CsvConverter is provide 'shorter matching payee' support. So for instance the first time I see a transaction import with "AMZN Mktp US*MB2ED6XZ0 Amzn.com/billWA" I manually change the payee in my ledger to "AMZN Mktp US". Then any future imports which contain that string are automatically matched to the same account.

[code]

Its not perfect by any means, but it do

[2019-06-19 00:31] #71 closed

[2019-06-19 00:47] egh commented on #76
https://github.com/egh/ledger-autosync/pull/83

[2019-06-19 01:19] qypea commented on #76
Great. Thanks

[2019-06-19 02:41] #76 closed

[2019-06-19 20:18] hollyhudson commented on #74
Hm.  The problem is, my first import into the ledger ecosystem is going to be 6 months worth of transactions -- I definitely do not want to categorize all them by hand.  `ledger convert` supports matching on the payee field, and it worked perfectly for the few accounts I tried (the ones that don't offer ofx downloads) so I created a really long schema.ledger file with payee matching regular expres

[2019-06-20 05:50] egh commented on #74
I didn't know that was a thing. Interesting.

Is there a way that you know to get ledger to report on that, e.g. to run ledger and output the data? ledger-autosync doesn't have a way to parse ledger files, only the output from ledger/hledger. I'd rather not get into the business of parsing ledger files, even as simple a construct as that, because I don't want to have to maintain compatibility. It

[2019-06-20 08:26] hollyhudson commented on #74
Yeah, I peaked at `convert.cc` in the ledger source code to try to see how they match things internally for clues on how to do it externally, but c++ code that isn't blinking a light or reading from a sensor is kind of opaque to me :/

But for parsing the ledger files in general.. is that not what the `-l` flag for autosync does?  I give it my main journal file, that includes that account schema a

[2019-06-20 12:35] qypea commented on #74
One of the ?easier? ways I'm finding to have ledger do this conversion for you is to call `ledger print`. We may be able to do this as a finishing up step after creating the transaction, or I'm wondering if I actually may want to leave all of my transactions marked with "Expenses:Imported" or a similar generic account and then map payees to accounts dynamically every time I run a query on my ledge

[2019-06-21 06:03] egh commented on #74
@qypea Thank you! That seems like something that we could reuse to leverage ledger's payee matching.

[2019-08-30 19:33] terceiro opened #87 "please push a tag for v1.0.1"
This release was uploaded to pypi, but no corresponding tag was pushed to the git repository.

[2019-09-03 03:28] egh commented on #87
Sorry, done. https://github.com/egh/ledger-autosync/tree/v1.0.1

[2019-09-03 03:28] #87 closed

[2019-09-08 03:18] rcurtin commented on #54
@DamienCassou @egh this seems to be a result of `ofxclient`.  I opened an issue there: https://github.com/captin411/ofxclient/issues/78

My workaround is to comment out the `import keyring` and `keyring.get_password()` lines from `ofxclient/cli.py`, and also set `KEYRING_AVAILABLE` to `False` always.

Hope this helps!

[2019-09-08 06:04] egh commented on #54
Thank you, Ryan!

[2019-11-07 18:54] llacroix commented on #43
Hi just for your information, the issue is in ofxparse, it convert the charset to "cp%s" % charset
but in the case of latin-1 it should be "iso-%s".

[2019-11-08 03:35] egh commented on #43
@llacroix Excellent, thank you!

[2019-12-11 02:22] colindean commented on #78
For a one-off or alternative method, running `dos2unix` on the PayPal export suffices to remove the BOM.

[2020-01-17 04:56] jeanralphaviles opened #90 "Security with cusip, but no ticker"
Importing a security from an `InvestmentTransaction?` which doesn't have a [TICKER](https://schemas.liquid-technologies.com/OFX/2.1.1/?page=invbuy.html) tag in the security list leads to the following error.

[code]
In my case, an empty `currency` argument [here](https://github.com/egh/ledger-autosync/blob/ebe9adcf6a453977f174d649ffc5dfce43c3b366/ledgerautosync/converter.py#L490) from [self.maybe_

[2020-01-17 05:08] egh commented on #90
Thanks for the report @jeanralphaviles ! It seems reasonable to me to print out the CUSIP if their is no ticker information. If you can file a PR that would be very much appreciated!

[2020-01-18 17:54] #90 closed

[2020-01-26 21:28] Sim175 commented on #43
On top of the ofxparse fix by @llacroix, I needed to force opening the file in binary mode in Python 3, otherwise my latin-1 file would fail to decode.

[2020-01-27 05:25] #43 closed

[2020-01-28 18:12] edkedk99 opened #94 "Help with csv"
Please let me know if this is not the right place for this question.

I would like to import a csv file using ledger-autosync, but I am having trouble to adjust my file to the accepted formats. Could someone post an example csv file that can be imported so I can use as a base to generate my csv? I am not able to create a plugin, so I would like to follow an existing format.

[2020-01-29 02:14] egh commented on #94
@edkedk99 If you look in https://github.com/egh/ledger-autosync/blob/master/fixtures` you'll see some CSV files that should work.

[2020-01-29 14:12] edkedk99 commented on #94
Thank very much. That's exactly what I needed. I don't know how I missed that folder in my seach.

[2020-01-29 14:12] #94 closed

[2020-01-29 16:36] egh commented on #94
Glad that works for you @edkedk99 !

[2020-02-11 08:09] DamienCassou commented on #56
This bug still annoys me :-).

[2020-02-11 14:03] egh commented on #56
I guess https://github.com/egh/ledger-autosync/pull/77 did not fix the issue?

[2020-02-13 20:00] 501st-alpha1 commented on #56
I can confirm that this still happens for me on latest `master`, so #77 didn't fix the issue.  Looking at the PR again, it looks like the change was only made for the HLedger interface, not the raw Ledger interface (which I use) or `LedgerPython`.

[2020-02-13 23:26] 501st-alpha1 commented on #56
Opened #96 to fix the raw Ledger interface.  I'm not familiar enough with the `LedgerPython` interface to know if / how to apply the fix there.

[2020-02-14 07:02] #56 closed

[2020-03-08 13:27] etienne-monier opened #97 "Invalid date format when reading ledger file"
Hi,

I use dd/mm/yyyy format in my ledger file. I saw [this pull](https://github.com/egh/ledger-autosync/pull/95) which introduced date formatting for output string.

My problem occurs before and the output looks like ...

[code]

I installed dev source to have output date format handling.

I use ̀--input-date-format %d/%m/%Y` option in ledger, but this does not exists for ledger-autosync.

Do you

[2020-03-08 17:24] egh commented on #97
@etienne-monier I've never tried this, but you could try setting the environment variable LEDGER_DATE_FORMAT="%d/%m/%Y'.

[2020-03-08 20:26] etienne-monier commented on #97
Hi,
This does not work.

I had forgotten to tell you I've got a `.ledgerrc`file which contains:
[code]
It seems this is read when calling `ledger-autosync file.ofx`as I do not give the file. Instead, it reads the file specified by `.ledgerrc`.

[2020-03-09 05:05] egh commented on #97
Yes, that's right, `ledger-autosync` parses `.ledgerrc`, but only the `--file` argument. It would be pretty easy (I think) to use the `--date-format` argument in `ledger-autosync` to pass on as `--date-format` to ledger. @kevinjfoley wrote that code, I'm not sure the ins and outs of that.

[2020-03-09 09:19] etienne-monier commented on #97
Ok for the file.

The ledger `--date-format` is for output date format only. To specify the file format, I must use `--input-date-format`.

Similarly, @kevinjfoley 's implementation only permit to format the output of ledger-autosync. In his pull request, you told that was rare to use different date formatting, but that is not in France :D

I'll have a look at that, but I think for the moment to u

[2020-03-11 00:10] egh commented on #97
:) I see no reason why Kevin's implementation can't be extended to pass `--input-date-format` to ledger as well. In fact, it seems to me that if you want `--date-format` set you want `--input-date-format` set as well. But perhaps @kevinjfoley knows more.

[2020-03-11 00:19] kevinjfoley commented on #97
I think it will require a bit of work since it will have to pass the parameter through to a completely different place (multiple place actually, one for each `MetaLedger`).

However I don't *think* it should be too difficult, I'll try to open a PR to address when I have some time this week.

[2020-03-11 00:21] egh commented on #97
I can take a look at it, I just wanted to check in to make sure that it made sense to you!

[2020-03-11 11:11] kevinjfoley commented on #97
No problem, I don't mind looking either!  But yeah I think the two changes will be largely unrelated other than sharing a parameter (though I only have a cursory knowledge of the code base).

This is probably true 99.99% of the time but I wouldn't be surprised if someone has a use case where it isn't true.  Might be worth it to have `--input-date-format` as optional, and use `date-format` for when

[2020-03-13 23:38] dtgnn commented on #74
Hello,

I am a new user of ledger and ledger-autosync. I came here looking for info about a related issue and thought I might ask my question here.

I am trying to make use of the AutosyncPayee tag, as documented in the README. But I haven't been successful. Payee matching works just fine if I don't mess with the payee information and the correct account is guessed from previous transactions. Ever

[2020-03-14 03:45] egh commented on #74
I don't in fact use the payee matching, so I'm not sure what the issue could be. @501st-alpha1 implemented that & might have some information.

[2020-03-15 03:57] 501st-alpha1 commented on #74
@dtgnn Could you please post a (minimal) example showing what doesn't work? I agree that this sounds like a different problem, so feel free to open a new issue and we can continue the conversation there.

[2020-04-17 05:59] DamienCassou opened #98 "Time for a new release?"
[Latest release](https://github.com/egh/ledger-autosync/releases/tag/v1.0.1) is from a year ago. Does it make sense to release?

[2020-04-19 04:48] egh commented on #98
Done! I always forget how to release (and it seems to change constantly) so I think I did it right.

[2020-04-19 04:52] egh commented on #98
https://github.com/egh/ledger-autosync/releases/tag/v1.0.2

[2020-04-19 04:52] #98 closed

[2020-04-19 16:18] DamienCassou commented on #98
Erik Hetzner <notifications@github.com> writes:

thank you

[2020-04-26 16:11] kevinjfoley opened #99 "Global Configuration"
I was taking a look at implementing the change requested in #97 and while the change itself is very simple, accessing the parameters that controls it is fairly difficult.

I ran into the same issue when implementing #95, of the 62 lines added in that PR, I think 55 or so were updating signatures to pass the new parameter along.

Therefore, I wanted to get opinions on refactoring things to use a `c

[2020-04-26 16:38] egh commented on #99
Seems completely reasonable. Another option would be to bundle up everything in a config object and pass it along to the methods called, so that the method signature would not need updating every time we added a new parameter.

[2020-06-03 19:33] bryanapperson opened #101 "Reading multiple ofxid/csvids from a transaction"
I'd like to see the ability to read multiple `ofxid | csvid`s from a given transaction. The use case is for deduplication of inter account transactions, like a credit card payment which shows up both on a bank statement, and a credit card statement. The user (or a plugin) can deduplicate these, and then place multiple `ofxid | csvid` comments on a transaction. Then it wont be imported again from e

[2020-06-04 04:16] egh commented on #101
I myself use a transfer account to do that, but I think it makes sense to support that use case.

[2020-06-07 08:04] 501st-alpha1 commented on #101
@bryanapperson: To clarify, does this work?

[code]

Or were you trying something more like this?

[code]

I recommend the former, because (1) that works for me, and (2) it seems to make more sense to attach the `ofxid` to the appropriate account, rather than the transaction as a whole.

(In a Ledger transaction, any comment lines between the first line and the first account apply to the transacti

[2020-06-16 01:27] colindean commented on #101
I've never really encountered this, but I've prepared for the eventuality by putting both accounts' IDs in like the second example that @501st-alpha1 provided. I guess I should move to the first example. This should be documented somewhere.

[2020-06-16 01:30] colindean opened #102 "A quotation mark in a QFX file breaks transformation"
[code]

The easiest workaround was to just… replace the `"` with `'` in the source QFX file but it would be nice if ledger-autosync handled that automatically or provided an option that sanitizes payee names before they are queried against the tx record.

[2020-06-16 05:29] egh commented on #102
I think we just need to escape `"` here as `\"`, the ledger expression parser seems like its blowing up on this.

[2020-06-29 07:58] ratish-punnoose opened #103 "Add checknum from OFX file into CODE field of ledger entry"
1. One of the transactions fields in an OFX file is CHECKNUM
2. converter.py uses ofxparse Transaction as OfxTransaction
3. The  transaction created by ofxparse has  the   .checknum field.
4. The ledger/hledger transaction format is (as per ledger documentation):
     DATE[=EDATE] [*|!] [(CODE)] DESC
     If a CODE appears in parentheses, it may be used to indicate a check number, or the type of t

[2020-06-29 15:41] egh commented on #103
Thank you for the detailed report! That can be easily done.

[2020-07-11 19:45] egh commented on #103
Added in cc6d9f6

[2020-07-12 22:38] ratish-punnoose commented on #103
Thank you very much.

[2020-07-13 18:11] #103 closed

[2020-07-18 01:19] emin63 opened #104 "How to map transactions to accounts for Fidelity and Vanguard?"
Thank you for writing ledger-autosync. I am trying to get started using this to pull down my transactions from Fidelity and Vanguard but I am having some trouble as they all get merged into the same account.

It seems like the OFX download has some concept of account number. Is there a way to put in some kind of mapping so that ledger-autosync knows which items are Fidelity and which are Vanguard?

[2020-07-18 01:24] egh commented on #104
Hi @emin63 - Good question! Are you using ledger-autosync to process downloaded `.ofx` files or are you connecting to fidelity & Vanguard directly via the OFX protocol?

[2020-07-18 02:12] emin63 commented on #104
OK, I think I figured some things out. I believe the main problem was not in `ledger-autosync` but that I had not setup `ofxclient` and my `~/ofxclient.ini` properly (the account descriptions I had were too generic and hence not unique).

Here is the process I used which I am documenting for reference. Feel free to correct errors or add further insights.

  1. Look in your `~/ofxclient.ini`
     -

[2020-07-18 02:12] #104 closed

[2020-07-18 03:50] egh commented on #104
@emin63 That all looks correct! If you filed a PR for the  README with that extra information I would be happy to merge it.

With regards to `--max`, it is a little confusing and could probably be improved. You might find that the `--resync` argument helps. Ordinarily, l-a only goes back until it sees a transaction its seen before. `--resync` overrides that, so if you have newer transactions but a

[2020-07-19 04:12] emin63 opened #105 "Bug in expired short option position from Vanguard"
I think there is a bug in processing expired short option positions from Vanguard.

What happened is I sold 20 puts for $0.25 and they were assigned to me (i.e., the person who bought the puts exercised them early and sold me 2000 shares of stock). The buy of 2000 shares shows up correctly but the short puts never go away.

Below is an example of what ofxclient is downloading which ledger-autosync

[2020-07-19 04:34] egh commented on #105
Probably we need to add something here:
https://github.com/egh/ledger-autosync/blob/master/ledgerautosync/converter.py#L487

To be honest that kind of transaction is beyond me. What output would you expect to see for this kind of transaction?

[2020-07-19 04:35] emin63 opened #106 "Bug in handling reverse stock splits from vanguard"
I found another bug in handling reverse stock splits from Vanguard.

I owned 200 shares of LPI (CUSIP 516806205) which did a 20-for-1 reverse split. I should end up with 10 shares of LPI. Instead I end up short 190 shares of LPI and long 200.0 shares of "516806106".

I think the relevant OFX data is below
[code]

Btw, if you could add some mode where it is possible to dump the OFX for a particular

[2020-07-19 04:42] emin63 commented on #105
Fair enough. Selling puts is often a stupid thing to do anyway so you could argue not supporting it is doing people a favor. :)

I want a transaction so that when the assignment happens the option position goes away. The first transaction below is what ledger-autosync produces for buying the stock (which is correct). The second transaction is what I manually added to fix things to note that the op

[2020-07-19 23:46] egh commented on #106
Hm, this seems like an interesting case. l-a looks up the ticker symbol to use as the commodity, using the info provided in the `SECLIST` section of the ofx file. If it can't find anything there, it uses the CUSIP number for the commodity. It seems that would have switched in the reverse stock split, from 516806205 to 516806106. I wonder if the `SECLIST` includes that same ticker symbol (`LSI`) fo

[2020-07-19 23:59] egh commented on #105
Thanks for the example! Is the only information about the put available in the `SECINFO` part? Is there only the one sell transaction in the OFX file? I'm not sure if l-a is not getting enough information from the https://github.com/jseutter/ofxparse library, or if it just isn't doing the right thing with the data it's getting.

[2020-07-23 02:36] emin-ec commented on #104
OK, I'm tied up with some things and still trying to resolve some questions about l-a. Once I get clarified and cleaned up on a few things, I would be happy to make a PR with some docs.

[2020-07-23 02:40] egh commented on #104
No problem, thank you!

[2020-07-23 02:47] emin-ec opened #107 "Question about behaviour of -r flag"
I have a question about the `-r` flag. When I do
[code]
I only get transactions from the last week or so.

But when I add the `-r` flag to do
[code]
I get transactions going back a few months.

I understand that `-r` is for resync but I thought I could achieve the same effect by not providing a ledger file or `~/.ledgerrc`. But it seems like either `ledger-autosync` or `ofxclient` is somehow stori

[2020-07-23 02:57] egh commented on #107
Hi @emin-ec

Honestly, I'm not sure the logic is great. There is no stored information, but probably the logic should be improved. The intended behavior should be that l-a will go back up to 90 days to get data that isn't already present in your ledger file. So you are correct, you shouldn't need that `-r` flag. There is probably a bug in the code. I'll take a look!

[2020-07-23 03:21] emin63 commented on #107
OK, I think the problem is in the code snippet below from `sync.py`:
[code]
I'm not sure on the difference between `days` and `max_days` but the logic above doesn't seem right. if resync is False, why should days = 7?

Btw, sorry for some postings as `emin63` and others as `emin-ec`. The latter is my work account but I will try to use the former as it is my personal account.

[2020-07-23 04:01] egh commented on #107
`days` is an iterator that gets increased as the code requests more and more days of data until it finds something it's aware of. At least, that is how it is supposed to work. And no worries about the github accounts - I didn't even notice :)

[2020-07-23 04:09] emin63 opened #108 "Question about offsetting accounts"
I have another question; this time it is about offsetting accounts.

Before I get to it, however, I want to say that I think l-a is awesome and so that's why I'm digging into it and finding these questions. Please let me know if I'm over-posting and I will slow down.

I'm having some trouble with the ofsetting accounts  when downloading a bunch of transactions for my Vanguard account. I have vario

[2020-07-24 01:09] emin63 opened #109 "Need to include commissions/fees"
I think l-a needs to somehow include commissions/fees.

Consider OFX like below and note the fees of 0.07. I think l-a either needs to emit a record for the fees separately or use total/units instead of `UNITPRICE`. Right now it seems like l-a is just using the `UNITPRICE` and so when I look at a register report the results I get in ledger diverge from the true values because of the fees.
[code]

[2020-07-24 03:59] emin63 commented on #109
FYI: see PR #110 for a proposed fix.

[2020-07-24 23:15] 501st-alpha1 commented on #108
Yes, the payee matching and the offsetting account are related, because `ledger-autosync` uses the matched payee (either the raw payee from your imported file, or the one found by finding a transaction with the matching `AutosyncPayee` tag) to find the offsetting account.  I'm not super happy with the latter part yet, but I think some of the issues you mentioned here are mainly a case of `ledger-a

[2020-07-24 23:46] 501st-alpha1 opened #111 "Suggestion: Find offset account by payee *and* AutosyncPayee"
@emin63's recent issue #108 has reminded me that the way `ledger-autosync` determines the offsetting account could be improved.  Currently, we rely heavily on matching with Ledger's payee field.  The current process goes something like this:

1. Get payee field from imported file.
2. Map payee to an existing Ledger payee, if applicable, by finding a matching `AutosyncPayee` tag.
3. Using the modif

[2020-07-25 02:27] egh commented on #109
Thank you for correcting this! I really appreciate it.

[2020-07-25 02:27] #109 closed

[2020-07-26 04:51] emin63 commented on #109
You're welcome; it was my pleasure. Btw, I just submitted PR #112 to apply a very similar fix for commissions.

[2020-08-03 03:50] emin63 opened #113 "Feature request: option to store raw OFX"
I have a feature request: allow an option to store the raw OFX.

For example, if you do `ledger-autosync --account <some_acct> --storeraw /path/to/raw.ofx` then it would be nice if l-a could store the raw OFX data that it downloads in `/path/to/raw.ofx`. This is helpful for debugging and also helpful if l-a does something not quite right with the OFX. For example, I am still having some problems w

[2020-08-03 04:06] egh commented on #113
I think this is a great idea! ledger-autosync will sometimes make multiple requests, so there might be multiple files, and I'm not 100% sure you can access the raw, unprocessed OFX using ofxclient easily. But I think it's a great idea. Unfortunately I probably don't have the time to work on this in the near future.

[2020-08-04 04:57] 501st-alpha1 commented on #113
I agree, this would definitely be useful, and it also would save me the extra step of downloading backup OFX files after running ledger-autosync.

The multiple requests / files is fair, but I'd be fine with that.

If I'm reading [the code](https://github.com/egh/ledger-autosync/blob/bd8ee3776b24685897d0b1a3eba310cee84d1b01/ledgerautosync/sync.py#L109) right, the initial download is returned as a s

[2020-08-04 05:02] egh commented on #113
Your reading looks correct to me! Sorry for the misinformation; it's been a while since I worked on that cod.e

[2021-03-05 06:36] tesujimath opened #118 "Need to be able to disable guessing of offset account from payee"
Quite often I find ledger-autosync fills in the offset account incorrectly, because it is guessing based on the payee, and this may not be valid.  I have a nice set of ledger rules for allocating offset account based on regex matching, and these work.  The additional layer of guessing by ledger-autosync has caused me considerable grief when it goes wrong.

Would you be open to a PR to add a CLI op

[2021-03-05 16:44] egh commented on #118
Hi @tesujimath - Yes, that would be absolutely welcome! I know the matching isn't great, and I'd love to improve it, but having it easily disabled seems like a great solution for when it isn't working for someone.

[2021-03-06 16:47] #118 closed

[2021-05-01 08:08] DamienCassou opened #122 "Time for a new release?"
[Latest release](https://github.com/egh/ledger-autosync/releases/tag/v1.0.2) is from a year ago. Does it make sense to release?

[2021-05-02 02:33] egh commented on #122
Absolutely! Thanks for the bump.

[2021-05-02 08:47] DamienCassou opened #123 "One test fails"
I have a problem with the [ledger-autosync package](https://github.com/DamienCassou/nixpkgs/commits/update-ledger-autosync) in Nix. Do you have an idea what could be wrong?

[code]

I have tried with both the latest commit and 1.0.2.

[2021-05-02 17:11] egh commented on #123
Looks like a problem with the recent version of hledger. I can reproduce with 1.21 (`hledger` below) but not with 1.18 (`/usr/bin/hledger` below)
[code]
The output of the new hledger version looks weird to me - it seems like it is double escaping for csv, first  by doubling the quote, then with backslash (`\`)

[2021-05-02 17:13] egh commented on #123
https://github.com/simonmichael/hledger/commit/4cb9dfb5b8d130b1005fbd5a8fc73e068a7d527f maybe

[2021-05-02 17:26] egh commented on #123
https://github.com/simonmichael/hledger/issues/1552

[2021-05-02 17:37] egh commented on #123
Apparently fixed but unreleased https://github.com/simonmichael/hledger/issues/1508

[2021-05-04 05:53] DamienCassou commented on #123
Awesome, thank you very much!

[2021-05-04 05:53] #123 closed

[2021-06-14 02:37] egh commented on #122
Thanks for the prompting again, @DamienCassou . It was time to upgrade some things so I switched to pytest (which I much prefer over the old nose/unittest system) and poetry (which seems to work pretty well in my limited experience).

I created a test [release](https://pypi.org/project/ledger-autosync/1.0.3rc1/) using [poetry](https://github.com/egh/ledger-autosync/pull/125). I gave it a smoke tes

[2021-06-18 03:57] egh commented on #122
Done! https://pypi.org/project/ledger-autosync/1.0.3/

[2021-06-18 03:57] #122 closed

[2021-06-22 06:44] DamienCassou commented on #122
Thank you very much!

[2021-06-22 06:46] DamienCassou commented on #122
Can you please add a git tag as well? Github still says the latest version is 1.0.2.

[2021-06-22 15:57] egh commented on #122
Oops! Done. Thank you!

[2021-06-26 13:48] DamienCassou opened #127 "2 test failures"
Hi,

I can't make the tests to pass in 1.0.3:

[code]

[2021-06-27 04:48] egh commented on #127
Thanks @DamienCassou. I think I missed this because I don't have the python bindings properly installed. Do you install ledger from source?

[2021-06-27 07:52] DamienCassou commented on #127
Erik Hetzner ***@***.***> writes:

I install ledger and ledger-autosync (and most packages I use) using
nix: this builds from source unless nix has the package built in the
cache.

--
Damien Cassou

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2021-06-27 19:31] egh commented on #127
Thanks again @DamienCassou . I figured out how to get the ledger python bindings installed locally & the tests running. Unfortunately I can't get them to run in travis-ci. But the tests should be fixed in https://github.com/egh/ledger-autosync/pull/128

[2021-06-28 06:36] DamienCassou commented on #127
Thank you very much for your work. Would you like me to investigate switching to GitHub actions and building/testing with a Nix-based infrastructure?

[2021-06-28 06:36] #127 closed

[2021-06-28 18:07] egh commented on #127
To be honest, I'm not sure if the ledger-python integration is worth retaining. The ledger python library always seems a little unstable compared to the cli. So I'm not sure how much trouble it's worth.

[2021-07-23 15:55] ffaf1 opened #129 "'ascii' codec can't decode error"
I tried to run ledger-autosync today, I got this error

[code]

The header of the Ofx file is:

[code]

[2021-07-27 04:11] egh commented on #129
Unfortunately this is an issue with ofxparse. However in this case it looks like ofxparse **might** be ignoring the header because it's inside an XML comment. You might try removing the `` bits.

[2021-07-27 08:08] ffaf1 commented on #129
When I delete the lines with `` I get this error

[code]

My ofx was generated from `ofxstatement`. `ofxdump` does read it (albeit with some warnings)

[code]

[2021-08-03 05:33] egh commented on #129
In that case, I'm not sure what's going on :( You might file a bug upstream with ofxparse - I suspect that is where the root issue is. Of course, the file could be bad as well.

[2021-10-21 18:49] claytonrcarter opened #131 "Autosync: looking up payee and offset account happens differently"
Hi! Thank you for your work on `ledger-autosync`. I'm new to ledger and ledger-autosync, so perhaps this has already bee covered somewhere. If, I'm sorry.

I can't tell if this is a bug, or just me being new and not knowing my way around, but I'm tying myself in knots trying to figure out how autosync and offset account lookup works. It's pretty easy to get the name to be be looked up via `Autosyn

[2022-02-03 22:03] trcoffman opened #133 "ledger UUID breaks ofxid matching"
[code]

So when I sync both my checking account and my credit card, in order to reflect accurate balances, I use `ledger`'s UUID feature to mark both of these transactions as being the same transaction by giving them the same UUID.

However, when I do this, if I use ledger-autosync again, this transaction shows up again in the `ledger-autosync` output despite already being tracked in the ledger.

[2022-02-04 05:33] egh commented on #133
Huh, interesting. This is a feature I didn't know about. I suspect it probably modifies the output somewhat. I will take a look.

[2022-02-04 06:04] trcoffman commented on #133
It's not just the UUID that breaks it I think. It's any metadata comments on the transaction.

Just curious, why is it that the ofxid is below the account as opposed to below the transaction? I just started learning ledger-cli a few weeks ago, so there's a lot I don't know. I only found that thing about the UUID thanks to a lucky google search when I was trying to deduplicate transactions.

[2022-02-04 15:58] 501st-alpha1 commented on #133
@trcoffman For the positioning of the `ofxid` tag, see #22 (TL;DR: tag is applied to account in case transaction is a transfer between two accounts both managed by `ledger-autosync`).

For your original issue, I'm also not familiar with the UUID feature.  Am I correct in assuming that you will end up with two transactions with the same UUID, one with an `ofxid` and one without?  These transactions

[2022-02-07 06:09] trcoffman commented on #133
@501st-alpha1, Basically, I'm downloading 2 QFX files from my bank. One is for the credit card, one is for the checking account. When I import them into ledger, I end up with 2 similar transactions that are really referring to 1 transaction: paying my credit card bill from my checking account. Each transaction has its own ofxid.

So, I address this issue by manually attaching the same UUID metadat

[2022-05-08 15:27] 501st-alpha1 commented on #133
Got around to digging into this issue again.

Given `test.ledger`:

[code]

Balance correctly doesn't duplicate the payment:

[code]

Likewise, `register` only shows one version of the transaction:

[code]

And `print` shows us that the first transaction is used, and the second is discarded:

[code]

Indeed, according to [this comment](https://github.com/ledger/ledger/issues/1771#issuecomment-4718

[2022-05-13 04:44] egh commented on #133
@501st-alpha1 Thank you for looking into this and providing a workaround!